@use "../app-shell/workbench-app-shell";
@use "../containers/evidence-workbench/evidence-workbench";

html {
  color-scheme: var(--aivis-color-scheme);
}

body {
  background: var(--ssq-color-background);
  color: var(--ssq-color-text);
}
