$qhds-header-breakpoint-sm: 40rem;
$qhds-header-breakpoint-md: 48rem;
$qhds-header-breakpoint-lg: 62rem;
$qhds-header-logo-height: 3.5rem;
$qhds-header-logo-width: 10.625rem;
$qhds-main-nav-width: 20rem;
$qhds-main-nav-width-md: 26.25rem;
$qhds-main-nav-z-index: 200;
