.qhds-button {
  --qhds-button-primary-background: var(--QLD-color-light__action--primary);
  --qhds-button-primary-border: var(--QLD-color-light__action--primary);
  --qhds-button-primary-color: var(--QLD-color-light__link--on-action);
  --qhds-button-primary-hover-background: var(--QLD-color-light__action--primary-hover);
  --qhds-button-primary-hover-border: var(--QLD-color-light__action--primary-hover);
  --qhds-button-primary-hover-color: var(--QLD-color-light__link--on-action);
  --qhds-button-secondary-border: var(--QLD-color-light__action--secondary);
  --qhds-button-secondary-color: var(--QLD-color-light__link);
  --qhds-button-secondary-hover-border: var(--QLD-color-light__action--secondary-hover);
  --qhds-button-secondary-icon-color: var(--QLD-color-light__action--secondary);
  --qhds-button-secondary-icon-hover-color: var(--QLD-color-light__action--secondary-hover);
  --qhds-button-tertiary-color: var(--QLD-color-light__link);
  --qhds-button-tertiary-icon-color: var(--QLD-color-light__action--secondary);
  --qhds-button-tertiary-icon-hover-color: var(--QLD-color-light__action--secondary);
  --qhds-button-disabled-background: var(--QLD-color-light__background--alt-shade);
  --qhds-button-disabled-border: transparent;
  --qhds-button-disabled-color: var(--QLD-color-light__text--lighter);
  --qhds-button-secondary-disabled-border: var(--QLD-color-light__background--alt-shade);

  align-items: center;
  border: var(--QLD-border-width-medium) solid var(--qhds-button-primary-border);
  border-radius: var(--QLD-border-radius-xs);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-weight: var(--qhds-font-weight-regular);
  justify-content: space-around;
  min-width: 8.75rem;
  padding: 0.625rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .qhds-button {
    --qhds-button-primary-background: var(--QLD-color-dark__action--primary);
    --qhds-button-primary-border: var(--QLD-color-dark__action--primary);
    --qhds-button-primary-color: var(--QLD-color-dark__link--on-action);
    --qhds-button-primary-hover-background: var(--QLD-color-dark__action--primary-hover);
    --qhds-button-primary-hover-border: var(--QLD-color-dark__action--primary-hover);
    --qhds-button-primary-hover-color: var(--QLD-color-dark__link--on-action);
    --qhds-button-secondary-border: var(--QLD-color-dark__action--secondary);
    --qhds-button-secondary-color: var(--QLD-color-dark__link);
    --qhds-button-secondary-hover-border: var(--QLD-color-dark__action--secondary-hover);
    --qhds-button-secondary-icon-color: var(--QLD-color-dark__action--secondary);
    --qhds-button-secondary-icon-hover-color: var(--QLD-color-dark__action--secondary-hover);
    --qhds-button-tertiary-color: var(--QLD-color-dark__link);
    --qhds-button-tertiary-icon-color: var(--QLD-color-dark__action--secondary);
    --qhds-button-tertiary-icon-hover-color: var(--QLD-color-dark__action--secondary-hover);
    --qhds-button-disabled-background: var(--qhds-color-overlay-disabled-on-dark);
    --qhds-button-disabled-border: transparent;
    --qhds-button-disabled-color: var(--QLD-color-dark__text--lighter);
    --qhds-button-secondary-disabled-border: var(--qhds-color-overlay-disabled-on-dark);
  }
}

.qld__body--light .qhds-button,
.qld__body--alt .qhds-button {
  --qhds-button-primary-background: var(--QLD-color-light__action--primary);
  --qhds-button-primary-border: var(--QLD-color-light__action--primary);
  --qhds-button-primary-color: var(--QLD-color-light__link--on-action);
  --qhds-button-primary-hover-background: var(--QLD-color-light__action--primary-hover);
  --qhds-button-primary-hover-border: var(--QLD-color-light__action--primary-hover);
  --qhds-button-primary-hover-color: var(--QLD-color-light__link--on-action);
  --qhds-button-secondary-border: var(--QLD-color-light__action--secondary);
  --qhds-button-secondary-color: var(--QLD-color-light__link);
  --qhds-button-secondary-hover-border: var(--QLD-color-light__action--secondary-hover);
  --qhds-button-secondary-icon-color: var(--QLD-color-light__action--secondary);
  --qhds-button-secondary-icon-hover-color: var(--QLD-color-light__action--secondary-hover);
  --qhds-button-tertiary-color: var(--QLD-color-light__link);
  --qhds-button-tertiary-icon-color: var(--QLD-color-light__action--secondary);
  --qhds-button-tertiary-icon-hover-color: var(--QLD-color-light__action--secondary);
  --qhds-button-disabled-background: var(--QLD-color-light__background--alt-shade);
  --qhds-button-disabled-border: transparent;
  --qhds-button-disabled-color: var(--QLD-color-light__text--lighter);
  --qhds-button-secondary-disabled-border: var(--QLD-color-light__background--alt-shade);
}

.qld__body--dark .qhds-button,
.qld__body--dark-alt .qhds-button,
.qld__footer--dark .qhds-button,
.qld__footer--dark-alt .qhds-button {
  --qhds-button-primary-background: var(--QLD-color-dark__action--primary);
  --qhds-button-primary-border: var(--QLD-color-dark__action--primary);
  --qhds-button-primary-color: var(--QLD-color-dark__link--on-action);
  --qhds-button-primary-hover-background: var(--QLD-color-dark__action--primary-hover);
  --qhds-button-primary-hover-border: var(--QLD-color-dark__action--primary-hover);
  --qhds-button-primary-hover-color: var(--QLD-color-dark__link--on-action);
  --qhds-button-secondary-border: var(--QLD-color-dark__action--secondary);
  --qhds-button-secondary-color: var(--QLD-color-dark__link);
  --qhds-button-secondary-hover-border: var(--QLD-color-dark__action--secondary-hover);
  --qhds-button-secondary-icon-color: var(--QLD-color-dark__action--secondary);
  --qhds-button-secondary-icon-hover-color: var(--QLD-color-dark__action--secondary-hover);
  --qhds-button-tertiary-color: var(--QLD-color-dark__link);
  --qhds-button-tertiary-icon-color: var(--QLD-color-dark__action--secondary);
  --qhds-button-tertiary-icon-hover-color: var(--QLD-color-dark__action--secondary-hover);
  --qhds-button-disabled-background: var(--qhds-color-overlay-disabled-on-dark);
  --qhds-button-disabled-border: transparent;
  --qhds-button-disabled-color: var(--QLD-color-dark__text--lighter);
  --qhds-button-secondary-disabled-border: var(--qhds-color-overlay-disabled-on-dark);
}

.qhds-button:hover {
  box-shadow: var(--qhds-shadow-button-hover);
}

.qhds-button__icon {
  align-items: center;
  block-size: 1rem;
  display: inline-flex;
  flex: 0 0 auto;
  inline-size: 1rem;
  justify-content: center;
}

.qhds-button__icon > svg,
.qhds-button__icon .qld__icon {
  block-size: 100%;
  display: block;
  inline-size: 100%;
  max-block-size: 100%;
  max-inline-size: 100%;
}

.qhds-button--primary,
a.qhds-button--primary:visited {
  background: var(--qhds-button-primary-background);
  border-color: var(--qhds-button-primary-border);
  color: var(--qhds-button-primary-color);
}

.qhds-button--primary:hover,
.qhds-button--primary:focus,
a.qhds-button--primary:visited:hover,
a.qhds-button--primary:visited:focus {
  background: var(--qhds-button-primary-hover-background);
  border-color: var(--qhds-button-primary-hover-border);
  color: var(--qhds-button-primary-hover-color);
  text-decoration-color: var(--qhds-button-primary-hover-color);
  text-decoration-line: underline;
  text-decoration-thickness: var(--QLD-underline__thickness-thick);
  text-underline-offset: var(--QLD-underline__offset);
}

.qhds-button--secondary,
a.qhds-button--secondary:visited {
  background: transparent;
  border-color: var(--qhds-button-secondary-border);
  color: var(--qhds-button-secondary-color);
}

.qhds-button--secondary:hover,
.qhds-button--secondary:focus,
a.qhds-button--secondary:visited:hover,
a.qhds-button--secondary:visited:focus {
  border-color: var(--qhds-button-secondary-hover-border);
  color: var(--qhds-button-secondary-color);
}

.qhds-button--tertiary,
a.qhds-button--tertiary:visited {
  background: transparent;
  border-color: transparent;
  color: var(--qhds-button-tertiary-color);
  text-decoration-line: underline;
}

.qhds-button--tertiary:hover,
.qhds-button--tertiary:focus,
a.qhds-button--tertiary:visited:hover,
a.qhds-button--tertiary:visited:focus {
  background: var(--qhds-color-overlay-disabled);
  color: var(--qhds-button-tertiary-color);
}

.qhds-button--primary .qhds-button__icon {
  color: var(--qhds-button-primary-color);
}

.qhds-button--secondary .qhds-button__icon,
.qhds-button--tertiary .qhds-button__icon {
  color: var(--qhds-button-secondary-icon-color);
}

.qhds-button--secondary:hover .qhds-button__icon,
.qhds-button--secondary:focus .qhds-button__icon {
  color: var(--qhds-button-secondary-icon-hover-color);
}

.qhds-button--tertiary .qhds-button__icon {
  color: var(--qhds-button-tertiary-icon-color);
}

.qhds-button--tertiary:hover .qhds-button__icon,
.qhds-button--tertiary:focus .qhds-button__icon {
  color: var(--qhds-button-tertiary-icon-hover-color);
}

.qhds-button--icon-lead .qhds-button__icon {
  margin-right: var(--qhds-space-3);
}

.qhds-button--icon-trail .qhds-button__icon {
  margin-left: var(--qhds-space-3);
}

.qhds-button--disabled,
.qhds-button[aria-disabled="true"] {
  cursor: not-allowed;
  font-weight: var(--qhds-font-weight-regular);
  text-decoration: none;
}

.qhds-button[aria-disabled="true"],
.qhds-button:disabled {
  background: var(--qhds-button-disabled-background);
  border-color: var(--qhds-button-disabled-border);
  box-shadow: none;
  color: var(--qhds-button-disabled-color);
  pointer-events: none;
}

a.qhds-button--secondary[aria-disabled="true"],
.qhds-button--secondary:disabled {
  background: var(--qhds-button-disabled-background);
  border-color: var(--qhds-button-secondary-disabled-border);
}

a.qhds-button--tertiary[aria-disabled="true"],
.qhds-button--tertiary:disabled {
  background: transparent;
  border-color: transparent;
}

.qld__body--dark .qhds-button--primary,
.qld__body--dark-alt .qhds-button--primary,
.qld__footer--dark .qhds-button--primary,
.qld__footer--dark-alt .qhds-button--primary {
  --qhds-button-primary-background: var(--QLD-color-dark__action--primary);
  --qhds-button-primary-border: var(--QLD-color-dark__action--primary);
  --qhds-button-primary-color: var(--QLD-color-dark__link--on-action);
}

.qld__body--dark .qhds-button--primary:hover,
.qld__body--dark .qhds-button--primary:focus,
.qld__body--dark-alt .qhds-button--primary:hover,
.qld__body--dark-alt .qhds-button--primary:focus,
.qld__footer--dark .qhds-button--primary:hover,
.qld__footer--dark .qhds-button--primary:focus,
.qld__footer--dark-alt .qhds-button--primary:hover,
.qld__footer--dark-alt .qhds-button--primary:focus {
  --qhds-button-primary-hover-background: var(--QLD-color-dark__action--primary-hover);
  --qhds-button-primary-hover-border: var(--QLD-color-dark__action--primary-hover);
  --qhds-button-primary-hover-color: var(--QLD-color-dark__link--on-action);
}

.qld__body--dark .qhds-button--secondary,
.qld__body--dark-alt .qhds-button--secondary,
.qld__footer--dark .qhds-button--secondary,
.qld__footer--dark-alt .qhds-button--secondary,
.qld__body--dark a.qhds-button--secondary:visited,
.qld__body--dark-alt a.qhds-button--secondary:visited,
.qld__footer--dark a.qhds-button--secondary:visited,
.qld__footer--dark-alt a.qhds-button--secondary:visited {
  --qhds-button-secondary-border: var(--QLD-color-dark__action--secondary);
  --qhds-button-secondary-color: var(--QLD-color-dark__link);
  --qhds-button-secondary-icon-color: var(--QLD-color-dark__action--secondary);
}

.qld__body--dark .qhds-button--secondary:hover,
.qld__body--dark .qhds-button--secondary:focus,
.qld__body--dark-alt .qhds-button--secondary:hover,
.qld__body--dark-alt .qhds-button--secondary:focus,
.qld__footer--dark .qhds-button--secondary:hover,
.qld__footer--dark .qhds-button--secondary:focus,
.qld__footer--dark-alt .qhds-button--secondary:hover,
.qld__footer--dark-alt .qhds-button--secondary:focus,
.qld__body--dark a.qhds-button--secondary:visited:hover,
.qld__body--dark a.qhds-button--secondary:visited:focus,
.qld__body--dark-alt a.qhds-button--secondary:visited:hover,
.qld__body--dark-alt a.qhds-button--secondary:visited:focus,
.qld__footer--dark a.qhds-button--secondary:visited:hover,
.qld__footer--dark a.qhds-button--secondary:visited:focus,
.qld__footer--dark-alt a.qhds-button--secondary:visited:hover,
.qld__footer--dark-alt a.qhds-button--secondary:visited:focus {
  --qhds-button-secondary-hover-border: var(--QLD-color-dark__action--secondary-hover);
  --qhds-button-secondary-icon-hover-color: var(--QLD-color-dark__action--secondary-hover);
}

.qld__body--dark .qhds-button--tertiary,
.qld__body--dark-alt .qhds-button--tertiary,
.qld__footer--dark .qhds-button--tertiary,
.qld__footer--dark-alt .qhds-button--tertiary,
.qld__body--dark a.qhds-button--tertiary:visited,
.qld__body--dark-alt a.qhds-button--tertiary:visited,
.qld__footer--dark a.qhds-button--tertiary:visited,
.qld__footer--dark-alt a.qhds-button--tertiary:visited {
  --qhds-button-tertiary-color: var(--QLD-color-dark__link);
  --qhds-button-tertiary-icon-color: var(--QLD-color-dark__action--secondary);
  --qhds-button-tertiary-icon-hover-color: var(--QLD-color-dark__action--secondary-hover);
}
